body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #272727;
    font-family: sans-serif;
    border: 3px solid #272727;
    padding: 20px 60px;
    border-radius: 100px;
    font-size: 30px;
    position: relative;
    transition: all .5s;
    overflow: hidden;
}

a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #272727;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: translateX(-100%);
    /* left to right if X top to bottom if Y */
    transition: all 1s;
}

a:hover:before {
    transform: translateX(0)
}

a:hover {
    color: white;
}