body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #351435;
    font-family: sans-serif;
    border: 3px solid #351435;
    padding: 20px 60px;
    border-radius: 100px;
    font-size: 30px;
    position: relative;
    transition: all 1s;
    /* overflow: hidden; */
}

a:before {
    border-radius: 100px;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #351435;
    transition: 1s;
    height: 100%;
    width: 100%;
    transform: rotateX(90deg);
    z-index: -1;
}

a:after {
    border-radius: 100px;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #351435;
    transition: 1s;
    height: 100%;
    width: 100%;
    transform: rotateY(90deg);
    z-index: -1;
}

a:hover:after {
    transform: rotateY(0deg);
}

a:hover:before {
    transform: rotateX(0deg);
}

a:hover {
    color: white;
}